[submodule "csc-20/arm20-0-thu-trivial"]
	path = csc-20/arm20-0-thu-trivial
	url = https://github.com/TrivialCompiler/TrivialCompiler.git
[submodule "csc-20/csc20-1-beike"]
	path = csc-20/csc20-1-beike
	url = https://github.com/ustb-owl/MimiC.git
[submodule "csc-20/arm20-0-ustc-flam"]
	path = csc-20/arm20-0-ustc-flam
	url = https://github.com/mlzeng/CSC2020-USTC-FlammingMyCompiler.git
[submodule "csc-21/csc21-0-thu-lin"]
	path = csc-21/csc21-0-thu-lin
	url = https://github.com/kobayashi-compiler/kobayashi-compiler
[submodule "csc-22/arm22-3-nudt"]
	path = csc-22/arm22-3-nudt
	url = https://gitlab.eduxiji.net/educg-group-12619-928705/RaVincent-2379
[submodule "csc-22/arm22-3-xbgd"]
	path = csc-22/arm22-3-xbgd
	url = https://gitlab.eduxiji.net/educg-group-12619-928705/HammerWang-2412
[submodule "csc-23/arm/arm23-0-beihang-miaomiao"]
	path = csc-23/arm/arm23-0-beihang-miaomiao
	url = https://gitlab.eduxiji.net/educg-group-18973-1895971/compiler2023-202310006201934
[submodule "csc-23/arm/arm23-1-beihang-atri"]
	path = csc-23/arm/arm23-1-beihang-atri
	url = https://gitlab.eduxiji.net/educg-group-18973-1895971/202310006201725-78
[submodule "csc-23/arm/arm23-4-nudt-lilun"]
	path = csc-23/arm/arm23-4-nudt-lilun
	url = https://gitlab.eduxiji.net/educg-group-18973-1895971/202390002201726-1057
[submodule "csc-23/arm/arm23-4-nudt-women"]
	path = csc-23/arm/arm23-4-nudt-women
	url = https://gitlab.eduxiji.net/educg-group-18973-1895971/202390002201745-1165
[submodule "csc-23/arm/arm23-n-antlr4"]
	path = csc-23/arm/arm23-n-antlr4
	url = https://github.com/Gaomengkai/Vrabche.git
